In [8]:
import pandas as pd
import random
import time
from parsel import Selector
from time import sleep
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys

In [9]:
chrome_options = Options()

PROXY = ""  #Host:PORT
service = Service(executable_path='chromedriver.exe')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument(f'--proxy-server={PROXY}')
driver = webdriver.Chrome(service=service,options=chrome_options)

In [10]:
j_type = ['data+engineer','data+analyst','data+scientist','machine+learning']
job_data=[]

for t in j_type:
    for page in range(0,270,10):

        driver.get(f'https://sg.indeed.com/jobs?q={t}&start={page}')
        time.sleep(random.uniform(8.5,10.9))

        #close the dialog box 
        try:
            close = driver.find_element(By.XPATH,'//button[@class = "css-yi9ndv e8ju0x51"]')

            close.click()

        except:
                pass

        jobs = driver.find_elements(By.XPATH,'//div[@class = "css-1m4cuuf e37uo190"]')

        for job in jobs:
            job.location_once_scrolled_into_view
            job.click()
            time.sleep(random.uniform(4.6,6.9))

            job_title = driver.find_element(By.XPATH,'//h2[@class = "jobsearch-JobInfoHeader-title css-161nklr e1tiznh50"]').text.strip()
            title = job_title.split('\n')
            job_description = driver.find_element(By.XPATH,'//div[@id = "jobDescriptionText"]').text.strip()

            data = {'Job_Title':title[0],'Description':job_description}
            job_data.append(data)
    print("Saving...")
        
df = pd.DataFrame(job_data)
df
driver.quit()

Saving...
Saving...
Saving...
Saving...

In [11]:
df

,Job_Title,Description
0,Staff Data Engineer,Airwallex is the leading financial technology ...
1,Data Engineer,"Responsibilities\nBuild, maintain the data pip..."
2,Data Engineer,What to Expect\nTesla Electronics Test and Aut...
3,Production Support Engineer - Data Engineering,Bonhill Partners Singapore\nPosted 5 days ago ...
4,Data Engineer,Beyond Limits is a pioneering Artificial Intel...
...,...,...
1615,Research Associate (Computer Science/Informati...,The School of Computer Science and Engineering...
1616,"Biostatistician, Population Health",The Singapore Eye Research Institute (SERI) se...
1617,Data Scientist,"Responsibilities\nAnalyse big data, interpret ..."
1618,Senior/ Research Scientist (High Performance C...,What the role is\n\nThe Centre for Climate Res...
1619,Research Assistant/ Associate on Dialogue Summ...,Description\nDialogue summarization is the tas...

In [17]:
jt = ['Data engineer']*405+['Data analyst']*405+['Data scientist']*405+['Machine learning']*405
c1 = pd.DataFrame(jt, columns=['Job Type'])
c1

              Job Type
0        Data engineer
1        Data engineer
2        Data engineer
3        Data engineer
4        Data engineer
...                ...
1615  Machine learning
1616  Machine learning
1617  Machine learning
1618  Machine learning
1619  Machine learning

[1620 rows x 1 columns]

In [18]:
df1 = pd.concat([c1, df], axis=1, join='inner')
df1

,Job Type,Job_Title,Description
0,Data engineer,Staff Data Engineer,Airwallex is the leading financial technology ...
1,Data engineer,Data Engineer,"Responsibilities\nBuild, maintain the data pip..."
2,Data engineer,Data Engineer,What to Expect\nTesla Electronics Test and Aut...
3,Data engineer,Production Support Engineer - Data Engineering,Bonhill Partners Singapore\nPosted 5 days ago ...
4,Data engineer,Data Engineer,Beyond Limits is a pioneering Artificial Intel...
...,...,...,...
1615,Machine learning,Research Associate (Computer Science/Informati...,The School of Computer Science and Engineering...
1616,Machine learning,"Biostatistician, Population Health",The Singapore Eye Research Institute (SERI) se...
1617,Machine learning,Data Scientist,"Responsibilities\nAnalyse big data, interpret ..."
1618,Machine learning,Senior/ Research Scientist (High Performance C...,What the role is\n\nThe Centre for Climate Res...
1619,Machine learning,Research Assistant/ Associate on Dialogue Summ...,Description\nDialogue summarization is the tas...

In [19]:
df1.drop_duplicates(subset=['Job_Title', 'Description'], keep='first')

,Job Type,Job_Title,Description
0,Data engineer,Staff Data Engineer,Airwallex is the leading financial technology ...
1,Data engineer,Data Engineer,"Responsibilities\nBuild, maintain the data pip..."
2,Data engineer,Data Engineer,What to Expect\nTesla Electronics Test and Aut...
3,Data engineer,Production Support Engineer - Data Engineering,Bonhill Partners Singapore\nPosted 5 days ago ...
4,Data engineer,Data Engineer,Beyond Limits is a pioneering Artificial Intel...
...,...,...,...
1613,Machine learning,Software Engineer Intern,About us\nFairmart is an early-stage community...
1614,Machine learning,AI Developer,Responsibilities:\nWe are working on exciting ...
1616,Machine learning,"Biostatistician, Population Health",The Singapore Eye Research Institute (SERI) se...
1618,Machine learning,Senior/ Research Scientist (High Performance C...,What the role is\n\nThe Centre for Climate Res...
1619,Machine learning,Research Assistant/ Associate on Dialogue Summ...,Description\nDialogue summarization is the tas...

In [20]:
# saving the dataframe
df1.to_csv('jd.csv',index_col = False)